<%- include("partials/commonFiles/header.ejs") -%>
</div>

<div style="margin-left: 20px; margin-top: 30px; margin-right: 20px;">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae impedit quam eligendi perspiciatis tempore asperiores voluptas minus sapiente illo blanditiis dolor ratione laboriosam odio, ipsa nam et provident dignissimos? Dolor qui ea sit accusamus, quaerat omnis quo mollitia quae autem porro possimus delectus voluptas tenetur! Similique omnis aliquam minus facere non eius animi, ullam qui fugiat? Vitae adipisci rem repellat quis beatae, dolor ab! Nostrum fuga accusamus blanditiis perferendis natus qui officiis minima! Repudiandae fugit, accusamus itaque in id reprehenderit officia numquam neque ex error dicta labore quasi, maiores doloribus voluptates voluptate, doloremque consectetur sapiente? Expedita enim quas accusamus eum quos corporis, nihil atque, alias, sapiente dicta ab aliquid? Incidunt, tenetur nostrum dignissimos tempora debitis voluptatem natus unde esse facere blanditiis voluptates sequi temporibus atque, sint magnam soluta quod ad eaque dolor nam eos. </p>
    <br>
    <br>
    <div class="container">
        <form action="/home" method="get">
      
          <label for="fname">Name</label>
          <input class="contactus-input" type="text" id="fname" name="name" placeholder="Your name..">
      
          <label for="lname">Email</label>
          <input class="contactus-input"  type="text" id="lname" name="email" placeholder="Your email..">

          <label for="subject">Subject</label>
          <input class="contactus-input"  type="text" id="lname" name="email" placeholder="Subject..">
      
          <label for="message">Message</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" class="contactus-btn" value="Submit">
      
        </form>
      </div>
      <br>
      <br>
      <br>
      <br>
</div>

<%- include('footer') %>