<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/css/forgot-style.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CKY - Forgot Password </title>
  <script src="/styles/js/script.js"></script>
</head>

<body>

  <div class="container">
    <div class="form-content">

      <div class="login-form">
        <div class="title">Confirm Password</div>


        <form action="/resetpassword" method="post">
          <div class="input-boxes">
            <div class="input-box email_input">
              <input type="email" placeholder="Enter your Email" name="email" required>
            </div>
            <div class="input-box email_input">
              <input type="password" placeholder="New Password" required name="password" autocomplete="current-password" id="id_password">
              <i class="far fa-eye" id="togglePassword" style="margin-left: 280px; cursor: pointer;"></i>
            </div>
            <div class="input-box email_input">
              <input type="password" placeholder="Confirm Password" required>
            </div>
            <div class="button input-box ">
              <input type="submit" value="Submit" id="submit" class="submit-email submit-otp">
            </div>
          </div>
        </form>


        <div class="">
          <a href="index.html"><input type="submit" value="Back" id="back_login" class="back_login"></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
