/*universal selector*/
* {
  list-style: none;
  text-decoration: none;
}

h2 {
  padding-left: 20px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 10;
}

/*Top white header starts*/
/*links pseudo classes*/
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

header {
  border: black;
  border-width: 2px;
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.06);
}

.head_container {
  padding: 20px;
  overflow: hidden;
}

/*company logo*/
.logo {
  float: left;
  margin-left: 20px;
}

.logo img {
  height: 35px;
}

.menu {
  margin-top: 5px;
  float: right;
}

.menu ul {
  list-style-type: none;
  margin-right: -10px;
}

.menu li {
  display: inline;
  margin-right-last: 0px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: #ee400e;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu a.anc:hover {
  background-color: #f5e1d9;
  border: #ee400e;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  transition: 0.2s;
  color: #ee400e;
}

.menu li a.searchIcon {
  background: linear-gradient(264.95deg, rgba(255, 252, 252, 0.2) 0%, rgba(255, 252, 252, 0) 54.06%), linear-gradient(267.12deg, rgba(251, 254, 83, 0.3) 48.01%, rgba(255, 255, 255, 0) 92.65%), #EE520F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  cursor: pointer;
  width: 5px;
  height: 5px;
  border-radius: 23px;
  margin: 0px 10px 0px -5px;
}

.icon {
  display: none;
}

menu.responsive {
  position: relative;
}

menu.responsive {
  float: none;
  display: block;
  text-align: left;
}

/*responsive media queries for screens less than 835px width*/
@media screen and (max-width: 835px) {
  .logo img {
    height: 35px;
  }

  ul>li:first-of-type {
    display: none;
  }

  .menu {
    margin: 0;
  }
}

@media screen and (max-width: 690px) {
  .menu li {
    display: none;
  }

  .icon {
    font-weight: 900 !important;
    font-size: 27px !important;
    padding: 0;
    margin: 0;
    margin-top: -22px;
    display: flex;
  }

  .logo img {
    height: 35px;
  }
}

/*side navbar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 87px;
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ee400e;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #ee400e;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#brand-name {
  color: #ee400e;
}

/*Ask Ques Btn*/
#add-ques {
  background: linear-gradient(264.95deg, rgba(255, 252, 252, 0.2) 0%, rgba(255, 252, 252, 0) 54.06%), linear-gradient(267.12deg, rgba(251, 254, 83, 0.3) 48.01%, rgba(255, 255, 255, 0) 92.65%), #EE520F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 65px;
  font-weight: normal;
  color: white;
  border: none;
  cursor: pointer;
  width: 8rem;
  font-size: 1.05rem;
  height: 35px;
  border-radius: 20px;
}

/*Top header search bar */
#search {
  font-size: 14px;
  line-height: 20px;
  height: 28x;
  width: 400px;
  margin-left: 12px;
  margin-right: 15px;
  padding: 5px 12px;
  z-index: 100;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 4px 1px rgb(0 0 0 / 9%);
  border: 1px solid #d0d7de;
  -webkit-writing-mode: horizontal-tb !important;
  background-color: #f6f8fa;
  vertical-align: middle;
  cursor: text;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type=text]:focus {
  border: 2px solid #218bff !important;
  background: white !important;
  box-shadow: #58cced 0px 7px 15px 0px !important;
}

/*Orange Navbar CSS here*/
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

nav .navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFB085;
  padding-left: 5px;
  padding-right: 5px;
  height: 35px;
  padding-top: 5px;
  height: 55px;
}

span a {
  color: white;
  font-size: 17.5px;
}

/*filter button*/
#filter {
  background: linear-gradient(264.95deg, rgba(255, 252, 252, 0.2) 0%, rgba(255, 252, 252, 0) 54.06%), linear-gradient(267.12deg, rgba(251, 254, 83, 0.3) 48.01%, rgba(255, 255, 255, 0) 92.65%), #EE520F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 65px;
  font-style: normal;
  font-weight: normal;
  color: white;
  border: none;
  cursor: pointer;
  width: 8rem;
  font-size: 1.05rem;
  height: 35px;
  border-radius: 20px;
}

/*ques-box css*/
.ques-box {
  background-color: transparent;
  height: auto;
  width: auto;
  border-radius: 3px;
  padding: 20px;
}

#secLabel {
  font-size: x-large;
  color: rgb(41, 38, 38);
}

#secLabel p {
  font-size: large;
  color: rgb(139, 130, 130);
}

section {
  padding: 20px;
}

/* text-editor*/
/* form{
    width:auto;
  } */
/* div.ck-editor__editable {
    min-height: 400px;

  } */
textarea {
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  outline: none;
}

#post {
  margin-top: 10px;
}

/*footer here*/
.footer {
  background: grey;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 15px;
  position: absolute;
  color: white;
  margin-top: 40px;
  padding: 15px;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: black;
}

/*pseudo class*/
.navbar a:hover {
  color: white;
}

/*underline effect on links of orange navbar*/
.navbar span {
  list-style: none;
  display: table;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

#title {
  width: 400px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  outline: none;
}
