<footer class="footer">
  <div class="container">
    <div class="row align-items-start">
      <div class="col" style="padding-bottom: 40px;">
        <center>
          Team 7 <br>
          Devang Gupta
          Goutham P.
          Vidhyadhar P.
          Dhesik Vinayak S R
        </center>
    </div>
  </div>
</footer>
</body>